# Trace files - don't commit to Git
trace*.zip
test-traces/

# Screenshots
test-screenshots/

# Test output
test-output/

# Maven build files
target/

# Allure Reports - Generated locally and in CI/CD
allure-results/
allure-report/
.allure/

# IDE files
.classpath
.project
.settings/
.idea/
*.iml
/bin/
