<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sauce Demo Automation Suite" parallel="false" verbose="1">
    
    <test name="All Tests" preserve-order="true">
        <classes>
            <!-- Login Tests (8 tests) -->
            <class name="tests.LoginTest"/>
            
            <!-- Product Catalog Tests (10 tests) -->
            <class name="tests.ProductCatalog"/>
            
            <!-- Checkout Flow Tests (16 tests) -->
            <class name="tests.CheckoutFlow"/>
            <!--Navigation and UI Tests(8 tests)-->
            <class name="tests.NavigationAndUI"/>
        </classes>
    </test>
    
</suite>